{% extends 'main.html' %} {% block content %}
<main class="profile-page layout layout--2">
  <div class="container">
    <!-- Room Start -->
    <div class="room"> 
      <div class="room__top">
        <div class="room__topLeft">
          <a href="{% url 'home' %}">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <title>arrow-left</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
              ></path>
            </svg>
          </a>
          <h3>Chat with <a href="{% url 'user-profile' touser.id %}">{{touser}}</a></h3>
        </div>
      </div>
      <div class="room__box scroll">
        <div class="room__header scroll">
          <div class="room__info">
            <div class="avatar avatar--small">
              <img src="{{touser.avatar.url}}" />
            </div>
          </div>
        </div>

        <div class="room__conversation">
          <div class="threads scroll">
            {% for chat in allchats %}
            {% if chat.uploadfile %} 
            {% if chat.isimg %}
            <img
              class="imgmes"
              src="{{chat.uploadfile.url}}"
              style="width: 50%; height: 50%"
            />
            {% elif not chat.isimg %}
            <video width="320" height="240" controls>
              <source src="{{chat.uploadfile.url}}" type="video/mp4" />
            </video>
            {% endif %} {% endif %}
            <div class="thread">
              <div class="thread__top">
                <div class="thread__author">
                  
                    <div class="avatar avatar--small">
                      <img src="{{chat.fromuser.avatar.url}}" />
                    </div>
                    {% if chat.fromuser == request.user %}
                    <span>You</span>
                    {% else %}
                    <span>{{chat.fromuser.name}}</span>
                    {% endif %}
                  </a>
                  <span class="thread__date"
                    >{{chat.created|timesince}} ago <br /></span
                  >

        
                </div>

                {% if request.user == chat.fromuser %}
                <a href="{% url 'delete-chatmessage' chat.id %}">
                  <div class="thread__delete">
                    <svg
                      version="1.1"
                      xmlns="http://www.w3.org/2000/svg"
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                    >
                      <title>remove</title>
                      <path
                        d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
                      ></path>
                    </svg>
                  </div>
                </a>
                {% endif %}
              </div>
              <div class="thread__details">{{chat.body}}</div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="room__message">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input
            name="body"
            type="text"
            placeholder="Write your message here..."
          />
          <input name="image" type="file" />

          <input type="submit" class="postMessage" value="Submit" />
        </form>
      </div>
    </div>
    <!-- Room End -->

  </div>
</main>
<script src="script.js"></script>
{% endblock content %}
